Drops/
obj/
bin/
debug/
Logs/
Candidates/
release/
release_1_9/
release*.zip
Ditch/
DeployContent/
.VLH2005.CDS.New.sln/
.sass-cache/
_Resharper.*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.log
*.swp
*.dbproj.user
*.dbmdl
error-*.xml
*_mm_cache.bin
*.dotCover
StyleCop.Cache
SpecificationReports
NugetWorkspace
Packages
Common/AssemblyVersion.cs
*.DotSettings.user
ut.db
